# Terraform
**/.terraform/**
**/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars

# Python
**/__pycache__/
**/*.pyc
**/.venv/
**/venv/
*.zip
**/pyarrow/**
**/*.so

# Sensitive files
*.pem
*.key
*.tfvars

# IDE
.vscode/
.idea/
